*{
    margin: 0;
    font-family: "Lato", sans-serif;
}
/* Header Style  */
header{
    background:#FDEEF1;
    height: 600px;
    width: auto;
}
.header-container{
    display: flex;
    padding: 50px 200px;
}
.header-items{
    margin-right: 150px;
    margin-top: 50px;
}
.header-discription{
    font-size: 18px;
    margin-top: 20px;
}
.header-titel{
    font-size: 70px;
}
.btn-prymary{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
    border: 0;
    background: #E55473;
    margin-top: 20px;
}
.btn-prymary:hover{
    background: #6e1e2f;
    color: white;
}
.header-img img{
    transform: scaleX(-1);
    width: auto;
    height: 550px;
    /* display: block; */
}
/* Flower Container style  */
.flower-container{
    text-align: center;
    padding: 100px 200px 0;
}
.flower-item{
    margin: auto 300px;
}
.flower-titel{
    font-size: 40px;
    margin-bottom: 20px;
}
.flower-discription{
    font-size: 18px;
}
.flower-img {
    display: flex;
    margin-top: 50px;
    margin-right:40px;
    justify-content: center;
    gap: 50px;
}
.flower-text h4{
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
    text-decoration: underline;
}
.flower-img1{
    background: #F2DEE8;
    padding: 90px 50px 0;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    width: 200px;
    height: 250px;
    /* margin-right: 50px; */
}
.flower-img2{
    background: #DAF0F1;
    padding: 90px 50px 0;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    width: 200px;
    height: 250px;
    /* margin-right: 50px; */
}
.flower-img3{
    background: #E4ECDC;
    padding: 90px 50px 0;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    width: 200px;
    height: 250px;
}
/* Office Section Style  */
.section-02{
    background: #F4F4F4;
    width: 75%;
    margin: auto 200px;
    display: flex;
    margin-top: 80px;
    justify-content: center;
    gap: 150px;
}
.office-item{
    text-align: center;
    margin: 70px 0;
}
.office-discription{
    margin-top: 10px;
}